---
layout: content.pug
collection: overview
title: Downloads
display_title: Downloads for designers and developers
description: [Enter description here]
order: 4
---

:marked

  [GEF pattern library wireframes](../media/downloads/gef-pattern-library.zip)<br />
  Format: Axure 7.0 (zipped)<br />
  Size: 1.6 MB<br />
  Published: 5 December 2016