---
layout: content.pug
collection: overview
title: Guidelines for publishers
display_title: Guidelines for publishers
description: [Enter description here]
---

mixin quote(text)
  p &nbsp;
  blockquote &ldquo;#{text}&rdquo;

:marked
  <div class="lead"><p>In most web projects at the department, much of the content will be developed by the business unit or team that owns the subject area. This quick guide helps authors and publishers to use the appropriate patterns based on their content needs as well as the needs of their users.</p></div>


+quote("I have lots of content that needs to stay on one page so users can see highly related content in one place.")

:marked
  Use:
  * [Anchor box](/components/anchor-box.html)


+quote("How do I create distinct groups of content in a page so users can consider each block in a meaningful way?")

:marked
  Use:
  * [Show/hide](/components/show-hide.html)
  * [Tabs](/components/tabs.html)


+quote("How do I call attention to a specific piece of content so users can follow-through with tasks and resources?")

:marked
  Use:
  * [Call-out box](/components/call-out-box.html)


+quote("I have content that needs to be accessible from every page so users can have quick access to this section&rsquo;s key info and tasks.")

:marked
  Use:
  * [Local footer](/components/local-footer.html)


+quote("I have a collection of content items for users to browse and compare.")

:marked
  Use:
  * [Catalogue](/templates/catalogue.html)


+quote("How can I make periodic announcements so users can be informed about changes in this section?")

:marked
  Use:
  * [News index](/templates/news-index.html)
  * [News article](/templates/news-article.html)


+quote("How can I list content alphabetically so users can quickly navigate to items by name?")

:marked
  Use:
  * [A-Z](/templates/a-z.html)