---
layout: content.pug
collection: overview
title: Welcome
display_title: Welcome to the GEF Pattern Library
description: [Enter description here]
---

:marked

  The pattern library is part of our [Global Experience Framework](https://education.nsw.gov.au/gef) (GEF).

  Here you will find reusable user interface elements that you can use for web projects at the NSW Department of Education.

  ## Why use the library?

  * Create a consistent and cohesive experience across NSW Department of Education websites.
  * Share a vocabulary between designers, developers, content authors, and publishers.
  * Rapidly deploy web projects using quality-assured and accessible UI elements.
  * Benefit from future improvements we make to these patterns.

  ## Getting started

  ### Designers

  * Familiarise yourself with the principles and styles of the theme you’ll be working with
  * See how we’ve used components to create our templates

  ### Developers

  * Get an overview of our approach to themes

  ### Content authors and publishers

  * Refer to our guidelines for using patterns in various content scenarios

  ### Testers

  * Learn about expected pattern behaviours, including our accessibility requirements

  ------

  GEF is a comprehensive framework that includes user experience research, design principles, writing guidelines, and our development standards. Learn more at the [GEF website](https://education.nsw.gov.au/gef).