---
layout: content.pug
collection: overview
title: Welcome
display_title: Welcome to the GEF Pattern Library
description: [Enter description here]
order: 1
---

:marked

  The pattern library is part of our [Global Experience Framework](https://education.nsw.gov.au/gef) (GEF).

  Here you will find reusable user interface elements that you can use for web projects at the NSW Department of Education.

  ## Why use the library?

  * Create a consistent and cohesive experience across NSW Department of Education websites.
  * Share a vocabulary between designers, developers, content authors, and publishers.
  * Rapidly deploy web projects using quality-assured and accessible UI elements.
  * Benefit from future improvements we make to these patterns.

  ## Getting started

  ### Designers

  * Familiarise yourself with the [theme](../design/themes.html) you&rsquo;ll be working with.

  ### Developers

  * See how we use pug to generate our templates and components.

  ### Content authors and publishers

  * Understand how we distinguish between [templates and components](what-are-patterns.html).
  * Refer to our [guidelines](guidelines-for-publishers.html) for using patterns in various content scenarios.

  ### Testers

  * Learn about how our patterns are expected to behave, including their accessibility requirements.

  &nbsp;

  ------

  GEF is a comprehensive framework that includes user experience research, design principles, writing guidelines, and our development standards. Learn more at the [GEF website](https://education.nsw.gov.au/gef).