---
layout: content.pug
collection: overview
title: What are patterns
display_title: What are patterns
description: [Enter description here]
order: 2
---

:marked

  <div class="lead"><p>Patterns refer to any reusable user interface element. It&rsquo;s the generic term we use to describe every item in the library.</p></div>

  Patterns refer to any reusable user interface element. It&rsquo;s the generic term we use to describe every item in the library.

  In GEF, there are generally 2 types of patterns: **templates** and **components**.

  ## Templates

  Templates are used to present full-page layouts. Some templates include fixed components.

  <img src="/media/images/templates.png" />

  ## Components

  Components are smaller, distinct user interface elements. They are often interactive and are used to present content in more interesting and engaging ways.

  <img src="/media/images/components.png" />

  ## Pages

  A page is an instance of a template that&rsquo;s populated with content, and when applicable, one or more components.

  <img src="/media/images/page.png" />

  Many patterns will be available from the content management system (CMS) that your web project is developed on, while some may only be used by developers.