---
layout: template.pug
collection: templates
title: Landing
display_title: Landing
description: The landing template provides additional grouping of content beyond the section homepage.
available: <span>Squiz Matrix</span>
---

:marked
  ## Example
  * [Template](http://dec-ce.bitbucket.org/gef/master/template-landing.html)
  * [Template (Education)](http://dec-ce.bitbucket.org/gef-education-theme/test/template-landing.html)

  ## Usage
  * The landing template should be used directly under the section homepage.
  * The template shows the content group&rsquo;s title, a brief description, and a list of child pages in this group.
  * The template uses these components:
    * [Landing header](../components/landing-header.html)
    * [Table of contents](../components/table-of-contents.html)
  * Do not use this template if there are fewer than two child pages; use the standard content page instead.
  * Use the main content area to add context to this content group.
  * Do not repeat duplicate links to child pages from within the main content area.
  * If the main content area contains more than three paragraphs, use a standard content page instead.

  ## How-to guides
  Learn how to use the landing template in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/page-types/landing-page)

  ## Related
  * [Landing header](../components/landing-header.html)
  * [Table of contents](../components/table-of-contents.html)