---
layout: template.pug
collection: templates
title: Landing
display_title: Landing
description: The landing template provides additional grouping of content beyond the section homepage.
available: Squiz Matrix
---

//- External template URL
- var ext_url = "http://dec-ce.bitbucket.org/gef-education-theme/test/template-landing.html"
//- External template title
- var ext_title = "Education theme Landing page"

div.example
  :marked
    ## Example
  a(href=ext_url)= ext_title

:marked
  ## Usage
  * The landing template should be used at the content level after the section homepage.
  * It shows the content group’s title, a brief description, and a list of pages in this group.
  * Use the main content area to add context to this content group.
  * Do not repeat duplicate links to child pages from within the main content area.

  ## How-to Guides
  [Squiz Matrix](http://www.google.com)

  ## Related
  * Section homepage