---
layout: template.pug
collection: templates
title: News index
display_title: News index
description: The news index template lists published news articles, sorted from newest to oldest.
available: <span>Squiz Matrix</span>
---

//- External template URL
- var ext_url_edu = "http://dec-ce.bitbucket.org/gef-education-theme/test/template-news-index.html"

//- External template title
- var ext_title_edu = "View template"

:marked
  News articles can be filtered by category. A single news article can be featured at the top of the template.

div.example
  :marked
    ## Example (Education theme)
  a(href=ext_url_edu)= ext_title_edu

:marked
  ## Usage
  * Each news article should display a useful description (up to 150 characters) of its contents.
  * The featured item should be a news article with an associated image (sized at 1000 px × 562 px).
  * Please use more appropriate broadcast channels for emergency announcements.
  * Pagination controls will appear when there are more than 10 articles.
  * Squiz Matrix users:
    * This template needs to be pre-configured before it’s available for use. Please contact platform administrators for more information.
    * Additional content in the sidebar (see below news categories) must be set up by platform administrators.

  ## How-to guides
  Learn how to use the news index template in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/page-types/news)

  ## Related
  * [News article](news-article.html)