---
layout: template.pug
collection: templates
title: Search results
display_title: Search results
description: The search results template lists pages and documents that match search keywords provided.
available: <span>Squiz Matrix</span>
---

//- External template URL
- var ext_url_edu = "http://dec-ce.bitbucket.org/gef-education-theme/test/template-search-results.html"

//- External template title
- var ext_title_edu = "View template"

div.example
  :marked
    ## Example (Education theme)
  a(href=ext_url_edu)= ext_title_edu

:marked
  ## Usage
  * The template includes a summary of the total number of results and pagination pages.
  * Pagination controls will appear when there are more than 10 results.
  * Each result shows the page/document title, its address and an excerpt.
  * The excerpt can highlight relevant portions of the page&rsquo;s content or show the page&rsquo;s description.