---
layout: template.pug
collection: templates
title: Section homepage
display_title: Section homepage
description: The section homepage serves as a landing page for a program, team, or business unit within the department.
available: <span>Squiz Matrix</span>
---

//- External template URL
- var ext_url_edu = "http://dec-ce.bitbucket.org/gef-education-theme/test/template-section.html"

//- External template title
- var ext_title_edu = "View template"

div.example
  :marked
    ## Example (Education theme)
  a(href=ext_url_edu)= ext_title_edu

:marked
  ## Usage
  * Use this page to provide context about the section, engage users with key messaging, and direct them to relevant content.
  * This template is composed of multiple components:
    * [Banner](/components/banners.html)
    * Section links
    * [Link group](/components/link-groups.html)
    * [Teasers](/components/teasers.html)
    * [Local footer](/components/local-footer.html)
  * Squiz Matrix users:
    * The order of components on this page cannot be altered.

  ## Related
  * [Landing](landing.html)