---
layout: clean.pug
---

/* ------------------------------
Normalize CSS
-------------------------------- */

@import 'normalize-scss/sass/normalize';

/* ------------------------------
Variables
-------------------------------- */

// GEF variables overrides
$gef-max-width:           1400px;
$gef-mq-md:               "screen and (min-width: 40rem)";
$gef-mq-lg:               "screen and (min-width: 70rem)";

// UIKIT variables overrides
$breakpoint-large:        70rem;

// Custom Pattern Library variables
$pl-font:                 300 16px/1.5 Maitree,Arial,sans-serif;
$pl-font-alt:             300 16px/1.5 "Libre Franklin",Arial,sans-serif;
$pl-font-gef:             400 16px/1.5 montserrat,Arial,sans-serif;

$pl-spacing-h:            25px;
$pl-spacing-v:            40px;

$pl-white:                #fff;
$pl-black:                #000;
$pl-muted:                #f0f1f4;
$pl-mid-grey:             #767676;
$pl-dark-grey:            #4a4a4a;
$pl-darker-grey:          #333;
$pl-highlight:            #44b9b9;

$pl-header-bg:            $pl-white;
$pl-subheader-color:      $pl-black;

$pl-nav-color:            $pl-dark-grey;
$pl-nav-separator:        1px solid $pl-black;

$pl-subnav-active:            $pl-highlight;
$pl-subnav-separator:         1px solid $pl-black;
$pl-subnav-separator-active:  1px solid $pl-black;

$pl-mobile-nav-toggle-border:           $pl-black;
$pl-mobile-nav-toggle-border-active:    $pl-black;
$pl-mobile-nav-toggle-icon:             $pl-black;
$pl-mobile-nav-toggle-icon-active:      $pl-black;


$pl-text-color:           $pl-darker-grey;

/* ------------------------------
Imports from bower_components
-------------------------------- */

// GEF usefuls
@import 'gef/src/assets/sass/variables';
@import 'gef/src/assets/sass/mixins';

// UIKIT grid
@import 'uikit/scss/uikit-mixins';
@import 'uikit/scss/uikit-variables';
@import 'uikit/scss/core/grid';
@import 'uikit/scss/core/utility';

// GEF DoE Global header
@import 'gef/src/assets/sass/includes/global-header';

.gef-global-header {
  font: $pl-font-gef;
  background-color: $pl-black !important;
}

/* ------------------------------
Styles
-------------------------------- */

body {
  margin: 0;
  font: $pl-font;
  color: $pl-text-color;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

h2 {
  margin-top: $pl-spacing-v;
  font-size: 1.4rem;
  font-weight: 500;
}

h2 + h3 {
  margin-top: 20px;
}

h3 {
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 600;
}

a {
  font-weight: 600;
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration:  none;
  }
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 30px;

    &:before {
      position: absolute;
      left: 0;
      content: '\2022';
    }
  }
}

hr {
  border-color: $pl-mid-grey;
  border-style: solid;
}

pre {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  margin: 20px 0 50px;
  background-color: $pl-muted;

  code {
    display: block;
    line-height: 1.86;
    padding: 20px;
  }
}

code {
  display: inline-block;
  padding: 1px 5px;
  color: $pl-darker-grey;
  font-size: 0.85rem;
  background-color: $pl-muted;
  border: 1px solid #ccd1d9;
  font-family: consolas, courier, monospace;
}

kbd {
  border: 1px solid $pl-highlight;
  border-radius: 3px;
  color: $pl-highlight;
  display: inline-block;
  font: $pl-font;
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 0 5px;
}


blockquote {
  background-color: $pl-muted;
  margin-left: 0;
  margin-right: 0;
  padding: 30px 20px 25px;
  color: $pl-darker-grey;

  p {
    position: relative;
    margin: 0;
    padding-left: 45px;
    font-size: 1.3rem;

    &:before {
      position: absolute;
      font: $pl-font-alt;
      left: 0;
      content: '\0201C';
      font-size: 5rem;
      font-weight: 600;
      line-height: 1;
      margin-top: -11px;

    }
  }
}

.pl-header {
  position: relative;
  background-color: $pl-header-bg;
  padding: $pl-spacing-v $pl-spacing-h 0;
  margin: 0 0-$pl-spacing-h;
  border-bottom: 1px solid $pl-black;
  z-index: 1000;

  h1 {
    margin: 0 0 $pl-spacing-v;
    text-transform: uppercase;
    text-align: center;
    font: $pl-font-alt;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.1;

    span {
      display: block;
      margin-top: 0.8em;
      font: $pl-font;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      color: $pl-subheader-color;
    }
  }

  @media #{$gef-mq-lg} {
    margin: 0;
    border-width: 0 1px 0 1px;
    border-color: $pl-black;
    border-style: solid;
  }
}

.pl-mobile-nav-toggle {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid $pl-mobile-nav-toggle-border;
  background-color: #fff;
  box-sizing: border-box;
  transform: translateY(-20px);
  text-indent: 1000px;
  white-space: nowrap;
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    outline: 0;
    border-color: $pl-mobile-nav-toggle-border-active;

    &:before {
      color: $pl-mobile-nav-toggle-icon-active;
      transition: color 0.2s;
    }
  }

  &:before {
    content: "\f0c9";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: fontAwesome;
    color: $pl-mobile-nav-toggle-icon;
    text-indent: 0px;
    font-size: 1.5rem;
    line-height: 1.2;
    transform: translate3d(-50%, -50%, 0);
  }

  &[aria-expanded=true] {
    &:before {
      content: "\f00d";
    }
  }

  @media #{$gef-mq-lg} {
    display: none;
  }
}

.pl-nav {
  position: absolute;
  display: block;
  width: 100%;
  background-color: $pl-header-bg;
  margin: 0 0-$pl-spacing-h;
  transition: transform 0.5s;
  border-bottom: 1px solid $pl-black;
  border-top: 1px solid $pl-black;
  box-shadow: 0 3px 2px 2px rgba(0,0,0,0.2);

  &[aria-hidden=true] {
    transform: translateX(-105%);
  }

  ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  li {
    padding-left: 0;

    &:before {
      content: none;
    }
  }

  a {
    text-decoration: none;
    color: $pl-nav-color;
  }

  > ul {
    border-top: $pl-nav-separator;

    > li {
      border-bottom: $pl-nav-separator;
      padding: 0;

      > a {
        position: relative;
        display: block;
        padding: 20px $pl-spacing-h;
        font-size: 1.1rem;
        font-weight: 300;
        color: $pl-darker-grey;

        &:after {
          position: absolute;
          right: $pl-spacing-h;
          top: 50%;
          transform: translateY(-50%);
          content: "\f105";
          font-family: fontAwesome;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1;
          color: $pl-black;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
          color: $pl-black;
        }
      }

      &.current {

        > a {
          font-weight: 800;
          color: $pl-black;

          &:after {
            content: "\f107";
          }
        }

        ul {
          padding-bottom: 10px;
        }
      }
    }


    @media #{$gef-mq-lg} {
      border-top: 0;
    }
  }

  // subnav
  > ul ul {

    li {

      a {
        display: block;
        padding: 15px $pl-spacing-h;
        font: $pl-font-alt;
        font-size: 0.9rem;
        font-weight: 300;
        color: $pl-dark-grey;

        &:hover,
        &:focus {
          text-decoration: underline;
          color: $pl-black;
        }
      }

      &.current  {

        a {
          font-weight: 600;
          color: $pl-black;
        }
      }
    }
  }

  // hide subnav if not current
  > ul > li:not(.current) ul {
    display: none;
  }

  @media #{$gef-mq-lg} {
    position: relative;
    border-bottom: 0;
    box-shadow: none;

    &[aria-hidden=true] {
      transform: none;
      width: auto;
    }
  }
}

// .pl-muted-bg {
//   background-color: $pl-muted;
// }

.pl-highlighted {
  background-color: $pl-highlight;

  * {
    color: #fff;
  }
}

.pl-capitalise {
  text-transform: uppercase;
  font-size: 0.9rem !important;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.pl-article {

  padding-bottom: 100px;

  header {
    margin: 0 0-$pl-spacing-h;
    padding: $pl-spacing-v $pl-spacing-h 0;

    >*:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    h1 {
      margin-bottom: 0.5em;
      font-weight: 600;
      font-size: 1.7rem;
      line-height: 1.23;
    }

    .lead {
      font-size: 1.1rem;
    }
  }

  .pl-component-header {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;


    p {
      font-size: 1.15rem;
    }
  }

  @media #{$gef-mq-lg} {
    margin-left: -$pl-spacing-v - 1;
    padding-left: 50px;
    border-left: 1px solid $pl-black;

    header {
      margin: 0;
      padding-left: 0;
    }

    .pl-component-header {
      height: 182px;
      margin-left: -26px;
      padding-left: 26px;
    }
  }

  @media #{$gef-mq-xl} {
    margin-left: -41px;

    .pl-component-header {
      margin-left: -50px;
      padding-left: 50px;
    }
  }
}

.pl-contents {

  p {
    font-size: 1.15rem;
  }

  h2 ~ p,
  h3 ~ p {
    font-size: 1rem;
  }

  hr ~ p {
    font: $pl-font-alt;
    font-weight: 600;
  }


  .pl-component-header + & > .content {
    > *:first-child {
      margin-top: 40px;
    }
  }

  .pl-code {
    clear: both;
  }

  @media #{$gef-mq-lg} {
    padding-right: 5%;
  }
}

.pl-example {
  margin-bottom: 50px;

  &.pl-example--tall-lg {

    @media #{$gef-mq-lg} {

      .pl-example_live {
        display: block;
        height: 300px;
      }
    }
  }

  &.pl-example--alt {
    .pl-example_live {
      background-color: $pl-muted;
    }
  }
}

.pl-example_live {
  border: 1px solid #ccd1d9;
  border-bottom: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;

  > * {
    margin-bottom: 0 !important;
  }
}

.pl-example_code {

  pre {
    margin: 0;
  }
}

.pl-pills {

  span {
    display: block;
    vertical-align: middle;
    margin-top: 15px;
    border: 2px solid $pl-black;
    border-radius: 8px;
    padding: 7px 11px 6px;
    line-height: 1;
    text-align: center;
    font: $pl-font-alt;
    font-weight: 800;
    font-size: 0.8rem;
    color: $pl-black;

  }

  @media #{$gef-mq-md} {

    span {
      display: inline-block;
      margin-top: -3px;
      margin-left: 15px;
    }
  }
}


/* ------------------------------
Styles for GEF JS modifications
-------------------------------- */

.gef-external-link {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;

  &:before {
    content: '\f08e';
    display: inline-block;
    vertical-align: text-top;
    font-family: fontAwesome;
    padding-left: 5px;
    font-size: 0.8rem;
  }
}

.uk-container {
  max-width: $gef-max-width;
}

/* ------------------------------
 Exclusive styles for live examples
-------------------------------- */

// reset font path to use bitbucket
$font-path: 'https://dec-ce.bitbucket.io/gef/pattern-library/assets/fonts/';
// loads Montserrat
@import "gef/src/assets/sass/_fonts";

// reset fonts to load font awesome
$fonts: (
  "fontawesome-webfont": 400
  );
$font-name: 'FontAwesome';
// loads FontAwesome
@import "gef/src/assets/sass/_fonts";

// custom styles
.pl-example_live {
  // set default font
  font: $pl-font-gef;
  // load all of GEF CSS
  @import "gef/src/assets/sass/core";

  // anchor box
  .gef-anchor-box {
    margin: 0;
  }

  // breadcrumbs
  .gef-breadcrumbs {
    margin-top: -20px;
  }

  .gef-breadcrumbs__item {
    white-space: nowrap;
  }

  // call out box
  .gef-call-out-box {
    margin-top: 0;
  }

  // image with caption
  .gef-image-with-caption {
    margin-top: 0;
  }

  // link group
  .gef-linkgroup {
    margin-top: 0;
  }

  // show hide
  .gef-show-hide {
    margin-top: 0;

    // show hide fixes
    div+.uk-accordion-title {
      margin: 20px 0 0;
    }
  }

  // tabs
  .gef-tabs {
    margin-top: 0;

    ul {
      margin-top: 0;
    }
  }
}