---
layout: component.pug
collection: components
title: Anchor box
display_title: Anchor box
description: Anchor boxes help users ascertain a page&rsquo;s content and quickly navigate to specific blocks on the page.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/partials/link-list
include ../../bower_components/gef/src/assets/pug/components/anchor-box

//- Example, instance, specs
:marked
  ## Example
  
div.pl-example
  div.pl-example_live
    +gef_anchor_box(3)
  div.pl-example_code.pl-code
    pre
      code.language-jade
        | +gef_anchor_box(3)

//- Code
:marked
  ## Code
  ### Pug
+usage

//- Usage and accessibility
:marked
  ## Usage
  * Anchor boxes are dynamically generated based on the H2 headings on the page. This makes them particularly useful for navigating long content pages.
  * Be aware of the number of H2 headings on the content page as they will be automatically listed in the anchor box.
  * Use the anchor box as a navigation tool for short FAQ content. You can do this by presenting each question as an H2 heading.
  * Squiz Matrix users:
    * Anchor boxes automatically appear on standard content pages that contain three or more H2 headings. You can choose to disable them.

  ## Accessibility notes
  * Use <kbd>TAB</kbd> key to enter the anchor box.
  * <kbd>TAB</kbd> to move through the list of links.
  * <kbd>ENTER</kbd> to select a link. This will cause the page to jump to the related heading. The next <kbd>TAB</kbd> should focus on content under the heading.
