---
layout: component.pug
collection: components
title: Banners
display_title: Banners
description: The banner gives publishers a way to personalise their section homepage with a key message and background image.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/banner

//- Example, instance, specs
:marked
  ## Default banner
div.pl-example
  div.pl-example_live
    +gef_banner("//placehold.it/1350x520")
  div.pl-example_code.pl-code
    pre
      code.language-jade
        | +gef_banner("//placehold.it/1350x520")
  :marked
    * Keep the title and description text short so they fit inside the key message box.
    * The key message button should link to a relevant page within the current section.
    * The default banner background image should be 1350 px × 520 px.

:marked
  ## Short banner

div.pl-example
  div.pl-example_live
    +gef_banner("//placehold.it/1350x250", true)
  div.pl-code.pl-example_code
    pre
      code.language-jade
        | +gef_banner("//placehold.it/1350x250", true)
  :marked
    * The short banner background image should be 1350 px × 250 px.
    * This banner is automatically hidden on mobile.

//- Code
:marked
  ## Code
  ### Pug
+usage

//- Usage and accessibility
:marked
  ## Usage
  * The banner can be used in various ways:
    * introduce a program, team, or business unit.
    * link to a key announcement.
    * link to seasonal content.
  * There are two types of banners:
    * Default: a taller image banner with space for a key message.
    * Short: a shorter, image-only banner.
  * Squiz Matrix users:
    * Banners are only available on the section homepage template.

  ## Accessibility
  * Do not forget to add appropriate alt text to describe the background image.

  ## How-to guides
  Learn how to use banners in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/components/feature-banner)

  ## Related
  * [Section homepage](../templates/section-homepage.html)