---
layout: component.pug
collection: components
title: Breadcrumbs
display_title: Breadcrumbs
description: Breadcrumbs reveal the location of the current page within the website&rsquo;s overall information architecture.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/breadcrumbs

//- Example, instance, specs
:marked
  ## Enhanced
div.pl-example.pl-example--tall-lg
  div.pl-example_live
    +gef_breadcrumbs(6, true)
  div.pl-example_code.pl-code
    pre
      code.language-pug
        | +gef_breadcrumbs(6, true)
  :marked
    * Use enhanced breadcrumbs for large websites with many levels in the information architecture.
    * Enhanced breadcrumbs automatically collapse when a page is more than 4 levels deep.
    * Collapsed links can be accessed by hovering over the &hellip; link.

:marked
  ## Default
div.pl-example
  div.pl-example_live
    +gef_breadcrumbs(3)
  div.pl-example_code.pl-code
    pre
      code.language-pug
        | +gef_breadcrumbs(3)

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div.code-pug
    +usage

//- Usage and accessibility
:marked
  ## Usage
  * The current page always appears as the last item in the breadcrumb and should not be linked.
  * On small screens, both variations of breadcrumbs change to a single link to the parent page.

  ## Accessibility
  * A hidden title announces the proceeding breadcrumb navigation.
  * <kbd>TAB</kbd> to access each breadcrumb link in order.
  * Enhanced breadcrumbs:
    * Collapsed links are always accessible with the <kbd>TAB</kbd> key.
    * Collapsed links can be expanded by placing keyboard focus on &hellip;, then hitting <kbd>ENTER</kbd>.