---
layout: component.pug
collection: components
title: Call Out Box
display_title: Call Out Box
description: The call out box is useful for directing the user&rsquo;s attention to key content and tasks.
available: <span>Squiz Matrix</span>
---

//- Default includes
include ../../layouts/_global

//- Pattern include
include ../../bower_components/gef/src/assets/pug/patterns/link-list
include ../../bower_components/gef/src/assets/pug/patterns/call-out-box

div.usage
  :marked
    ## Usage
    * Keep call-out box content succinct, with clear actions for users to take.
    * Avoid using multiple call-out boxes on a page. This helps retain the box's visual impact.
    * Place the call-out box towards the end of the content page so users are not directed to other links prematurely.

div.how-to
  :marked
    ## How-to Guides
    [Squiz Matrix](http://www.google.com)

div.example
  :marked
    ## Example
  div.live-example
    +output

div.usage
  :marked
    ## Code
  div.pug-usage
  +usage
