---
layout: component.pug
collection: components
title: Call-out box
display_title: Call-out box
description: The call-out box is useful for directing the user&rsquo;s attention to key content and tasks.
available: <span>Squiz Matrix</span>
---

//- Default includes
include ../../layouts/_global

//- Pattern include
include ../../bower_components/gef/src/assets/pug/components/partials/link-list
include ../../bower_components/gef/src/assets/pug/components/call-out-box

//- Example, instance, specs
div.pl-example
  div.pl-example_live
    mixin call_out_box_content
      h3
        +lipsum(3, "words")
      +gef_link_list(2)
    +gef_call_out_box
  div.pl-example_code.pl-code
    pre
      code.language-jade
        | mixin call_out_box_content
        |   h3
        |     +lipsum(3, "words")
        |   +gef_link_list(2)
        | +gef_call_out_box

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div
    +usage

//- Usage and accessibility
:marked
  ## Usage
  * Keep call-out box content succinct, with clear actions for users to take.
  * Avoid using multiple call-out boxes on a page. This helps retain the box&rsquo;s visual impact.
  * Place the call-out box towards the end of the content page so users are not directed to other links prematurely.

  ## How-to guides
  Learn how to use call-out boxes in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/components/call-out-box)