---
layout: component.pug
collection: components
title: Image with caption
display_title: Image with caption
description: A caption describes its associated image so users get a better understanding of its contents and purpose.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/image-with-caption

//- Example, instance, specs
div.pl-example
  div.pl-example_live
    mixin Image
      img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
    +gef_image_with_caption
  div.pl-example_code.pl-code
    pre
      code.language-jade
        | mixin Image
        |   img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
        | +gef_image_with_caption

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div
    +usage

//- Usage and accessibility
:marked
  ## Usage
  * Images should only be used when they add value and/or provide context to the content (not solely for decoration).
  * Any image added to a template&rsquo;s main content body should always include a caption.
  * Captions should be useful and succinct (up to 150 characters).
  * Captions should give additional background and context.
  * Captions for charts or graphs should include a figure number and label text. Example:
    * &ldquo;Figure 1: Components of the Resource Allocation Model explained&rdquo;
  * You do not need to use a caption if your image is a screenshot that&rsquo;s described by the text that surrounds it.

  ## Accessibility
  * Do not forget to add appropriate alt text to the image.
  * The alt text should describe the image contents literally.

  ## How-to guides
  Learn how to use image with caption in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/components/images-and-captions)

  ## Related
  * [Standard content](../templates/standard-content.html)
  * [News article](../templates/news-article.html)
  * [Landing](../templates/landing.html)