---
layout: component.pug
collection: components
title: Local footer
display_title: Local footer
description: The local footer shows key links and social profiles for a program, team, or business unit.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/social-media
include ../../bower_components/gef/src/assets/pug/components/section-footer

//- Example, instance, specs
div.pl-example
  div.pl-example_live
    +gef_section_footer("Facebook, YouTube", true)
  div.pl-example_code.pl-code
    pre
      code.language-pug
        | +gef_section_footer("Facebook, YouTube", true)

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div.code-pug
    +usage

//- Usage and accessibility
:marked
  ## Usage
  * The local footer works in conjunction with the context set from the section homepage.
  * The types of links can include:
    * Occasional content, eg &ldquo;about your team&rdquo;
    * Regular updates, eg &ldquo;news&rdquo;
    * Key actions, eg &ldquo;contact&rdquo;
  * Each link title should be short and concise.
  * Add up to 5 links to the local footer.
  * These links can point to other pages in the section or to orphan pages.
  * Available social profile links:
    * Yammer
    * Facebook
    * Twitter
    * YouTube
    * Instagram
    * Google Plus
  * Do not use the same social profile more than once in the local footer.
  * Squiz Matrix users:
    * The social profile links can only be configured by platform administrators.

  ## Accessibility
  * When a social profile icon receives keyboard focus, its name should be announced to the screen reader.

  ## Related
  * [Section homepage](../templates/section-homepage.html)