---
layout: component.pug
collection: components
title: Show/hide
display_title: Show/hide
description: Show/hides are collections of content pairs, with each pair consisting of a title and an expandable content block.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/show-hide

//- Example, instance, specs
div.pl-example
  div.pl-example_live
    +gef_show_hide(false, 3)
  div.pl-example_code.pl-code
    pre
      code.language-pug
        | +gef_show_hide(false, 3)

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div.code-pug
    +usage

//- Usage and accessibility
:marked
  ## Usage
  * Show/hides enable users to quickly scan titles and select one to reveal its content. Multiple items can be opened at any one time. Show/hides are a good way to create distinct information blocks on a content page.
  * Titles should be short to medium in length (up to 70 characters).
  * Titles should be descriptive of the content it contains so users can easily scan and decide.
  * Keep content bite-sized and quick to read.
  * Keep the amount of content similar across show/hides to create a consistent rhythm.
  * Avoid including many links within a content block as they will be difficult to find.
  * Long show/hides should be split into two or more groups. Give each group a relevant heading.
  * Avoid using show/hides for FAQ-style content.

  ## Accessibility
  * Use <kbd>TAB</kbd> key to enter a group of show/hide items.
  * <kbd>TAB</kbd> to move between show/hide titles.
  * <kbd>ENTER</kbd> to open or close a show/hide item.
  * After an item is opened, <kbd>TAB</kbd> to focus on its content block.

  ## How-to guides
  Learn how to use show/hides in:
  * [Squiz Matrix](https://education.nsw.gov.au/gef/squiz-matrix-training/components/show-hides)

  ## Related
  * [Tabs](tabs.html)