---
layout: component.pug
collection: components
title: Show/Hides
display_title: Show/Hides
description: Show/hides are collections of content pairs, with each pair consisting of a title and an expandable content block.
available: <span>Squiz Matrix</span>
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
include ../../bower_components/gef/src/assets/pug/components/show-hide

div.example
  :marked
    ## Example
  div.live-example
    +output

div.code-usage
  :marked
    ## Code
  div.code
  +usage

div.usage
  :marked
    ## Usage
    * Titles should be short to medium in length (up to 70 characters).
    * Titles should be descriptive of the content it contains so users can easily scan and decide.
    * Keep content bite-sized and quick to read.
    * Keep the amount of content similar across show/hides to create a consistent rhythm.
    * Avoid including many links within a content block as they will be difficult to find.
    * Long show/hides should be split into two or more groups. Give each group a relevant heading.
    * Avoid using show/hides for FAQ-style content.

div.accessibility
  :marked
    ## Accessibility
    * Use TAB key to enter a group of show/hide items.
    * TAB to move between show/hide titles.
    * ENTER to open or close a show/hide item.
    * After an item is opened, TAB to focus on its content block.

div.how-to
  :marked
    ## How-to Guides
    Enter your content here

div.related
  :marked
    ## Related
    * Tabs