---
layout: component.pug
collection: components
title: [Enter short title here]
display_title: [Enter long title here]
description: [Enter description/meta description here]
available: [Enter CMSs here]
draft: true
---

//- Default includes // DO NOT REMOVE
include ../../layouts/_global

//- Pattern/Component include - link to the correct pattern/component
//- e.g. ../../bower_components/GEF/src/assets/pug/patterns/call-out-box
include ../../bower_components/GEF/src/assets/[patterns|components]/(name-of-pattern-without-extension)

//- Example, instance, specs
div.pl-example
  div.pl-example_live
    +mixin
  div.pl-example_code.pl-code
    pre
      code.language-jade
        | +mixin

//- Code
div.code
  :marked
    ## Code
    ### Pug
  div
    +usage

//- Usage and accessibility
:marked
  Enter your content here

