include _head

body
  include _doe-header

  div.uk-container.uk-container-center
    div.uk-grid

      include _header

      article.pl-article.uk-width-large-7-10(data-gef-external-link-tagger)
        h1!= display_title

        div.lead!= description

include _footer







