include _head

body
  include _doe-header

  div.uk-container.uk-container-center
    div.uk-grid

      include _header

      article.uk-width-large-7-10(data-gef-external-link-tagger)

        div.pl-article
          header.pl-component-header
            h1!= display_title

            p!= description

            p.pl-capitalise Versions:
              span.pl-pills!= since + script_updated

          div.pl-contents
            div.content!= contents



include _footer







