---
layout: content.pug
collection: design
title: Education NSW
display_title: Themes of GEF / Visual languages of GEF
desription: [Enter description here]
---

:marked

  A visual language is a communication system that is composed of visual elements. These elements may be, though are not limited to fonts, colours, motion, grid, layout etc.

  The Global Experience Framework supports a number of different visual languages. These different visual languages (themes) have been developed to underpin the need for several of the DoE’s digital assets to visually appear separate from one another.

  Despite their visual differences, each visual language that is developed under the Global Experience Framework closely observes the framework’s design principles (link to design principles).
