---
layout: content.pug
collection: education nsw
title: Typography
display_title: Education.nsw typography
description: [Enter description here]
---

:marked

  The legibility and accessibility of text relies on good typography. Clear visual hierarchy allows our users to quickly understand and digest text across all of our websites.
  ## Typeface
  Montserrat has been selected as Education.nsw's digital typeface. Montserrat is an open source font, developed by google fonts. Montserrat was selected due to it's similarities with the NSW Government's office typeface; Gotham.
